# Configuration of parameters for script read_mapping.pbs
# Copyright (C) 2020-2021 Yu Wan <wanyuac@126.com>
# Licensed under the GNU General Public Licence version 3 (GPLv3) <https://www.gnu.org/licenses/>.
# Release: 17 Aug 2020; latest update: 29 Aug 2021
# Configuration date: 

# Environmental constants (optional)
MODULE=''
CONDA_ENV=''
CONDA_ACTIVATE_METHOD='source'  # Or 'conda', depending on whether 'source activate' or 'conda activate' is used by the system
SCRIPT_PATH=""  # Directory of script hetSNP_depthPlot.R (github.com/wanyuac/cgSNPs/tree/master/contamination)
CPU_NUM=4  # Number of CPUs

# Input data (mandatory)
REF=""  # FASTA file of a reference genome
REF_EXT='.fna'  # Filename extenstion of the reference sequence. Possible values: .fna, .fasta, .fa, .fsa
REF_LEN=5000000  # Length (bp) of the reference genome. It is required when step 3 (plotting depth plots) will be run.
EXCL=""  # Target file (TSV format) of exclusion regions in the reference genome
READ_DIR=""  # Directory of input paired-end reads. No forward slash at the end.
SAMPLES=()  # Sample (genome) names of input reads. For example, SAMPLES=(str1 str2 str3) for three strains.
STEPS=(1 2 3)  # 1: mapping; 2: variant calling; 3: create depth plots for heterozygous SNPs

# Parameters for variant calling (mandatory)
MIN_BASE_QUAL=20  # For bcftools mpileup
MIN_MAPPING_QUAL=30  # For bcftools mpileup
PLOIDY=2  # For bcftools call
MIN_DP=10  # For bcftools filter
MIN_QUAL=30  # For bcftools filter/view
MIN_MQ=30  # For bcftools filter/view
